<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App</h1>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-r">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio voluptatem assumenda dolores! Odit, quidem nisi odio perferendis dignissimos minima natus placeat est, facere corrupti fuga similique excepturi dicta provident id.</p>
    <a href="/about" class="btn btn-primary btn-lg">About Us</a>
</div>